@using AllowanceApp.Blazor.Components.Pages
@using AllowanceApp.Blazor.Models
@using AllowanceApp.Blazor.Services
@using AllowanceApp.Shared.DTO
@using AllowanceApp.Blazor.Components.Widgets
@inject AccountApiService AccountApi

<div class="card">
    <div class="text-center">
        <h2 class="card-title">@Account.Name</h2>
        <p class="card-subtitle">Allowance: <span class="balance-allowance">$@Account.AllowanceDisplay</span></p>
    </div>
    
    <div class="grid grid-cols-4 gap-4">
        <div>
            <button class="btn-allowance" @onclick="() => IncrementPoint(nameof(ChoresPoints))">
                <img src="/images/chores.png" alt="Chores icon" class="justify-center mx-auto">
            </button>
            <p class="point-balance">Chores: @ChoresPoints</p>
        </div>
        <div>
            <button class="btn-allowance" @onclick="() => IncrementPoint(nameof(HomeworkPoints))">
                <img src="/images/homework.png" alt="Homework icon" class="justify-center mx-auto">
            </button>
            <p class="point-balance">Homework: @HomeworkPoints</p>
        </div>
        <div>
            <button class="btn-allowance" @onclick="() => IncrementPoint(nameof(GoodBehaviorPoints))">
                <img src="/images/goodbehavior.png" alt="Good behavior icon" class="justify-center mx-auto">
            </button>
            <p class="point-balance">Good: @GoodBehaviorPoints</p>
        </div>
        <div>
            <button class="btn-allowance" @onclick="() => IncrementPoint(nameof(BadBehaviorPoints))">
                <img src="/images/badbehavior.png" alt="Bad behavior icon" class="justify-center mx-auto">
            </button>
            <p class="point-balance">Bad: @BadBehaviorPoints</p>
        </div>
    </div>
    <div class="grid grid-cols-5">
        <button class="btn-allowance col-span-full" @onclick="OpenModal" >
            Add Your Report Card
        </button>
        <p class="point-balance">@DisplayGrade('A')</p>
        <p class="point-balance">@DisplayGrade('B')</p>
        <p class="point-balance">@DisplayGrade('C')</p>
        <p class="point-balance">@DisplayGrade('D')</p>
        <p class="point-balance">@DisplayGrade('F')</p>
    </div>

    <button class="btn-payout" @onclick="PayoutAllowance">
        <span class="payout-text">Pay Out Allowance</span>
    </button>
</div>

<Modal @ref="MyModal"
    Title="Enter Your Grades"
    OnConfirm="HandleConfirm"
    OnCancel="HandleCancel"
    SizeLarge=false>
    <div>
        <GradeInput Grade="A" @bind-Value="WorkingGrades['A']" />
        <GradeInput Grade="B" @bind-Value="WorkingGrades['B']" />
        <GradeInput Grade="C" @bind-Value="WorkingGrades['C']" />
        <GradeInput Grade="D" @bind-Value="WorkingGrades['D']" />
        <GradeInput Grade="F" @bind-Value="WorkingGrades['F']" />
    </div>
</Modal>




@code {
    [Parameter] public required AccountViewModel Account {get; set;}
    [Parameter] public EventCallback OnAccountChanged { get; set; }
    private Random rng = new((int)DateTime.Now.ToOADate());
    private Modal? MyModal;
    private int ChoresPoints => GetPoints("Chores");
    private int HomeworkPoints => GetPoints("Homework");
    private int GoodBehaviorPoints => GetPoints("GoodBehavior");
    private int BadBehaviorPoints => GetPoints("BadBehavior");
    public Dictionary<char, int> Grades => new()
        {
            ['A'] = GetPoints("GradeA"),
            ['B'] = GetPoints("GradeB"),
            ['C'] = GetPoints("GradeC"),
            ['D'] = GetPoints("GradeD"),
            ['F'] = GetPoints("GradeF")
        };

    public Dictionary<char, int> WorkingGrades {get; set;}= new();

private int GetPoints(string category) =>
    Account.Allowances.PointList.SingleOrDefault(a => a.Category == category)?.Points ?? -1;

    private string DisplayGrade(char letter)
    {
        if (!"ABCDF".Contains(letter)) {return "";}

        int total = Grades.Sum(v => v.Value);
        if (total > 0)
        {
            return $"{letter}: {Grades[letter]}";
        }
        else if (letter == 'C')
        {
            return "No Grades";
        }
        else
        {
            return "";
        }
    }


    private async Task IncrementPoint(string valueName)
    {
        string category = string.Empty;
        switch (valueName)
        {
            case nameof(ChoresPoints):
                category = "Chores";
                break;
            case nameof(GoodBehaviorPoints):
                category = "GoodBehavior";
                break;
            case nameof(BadBehaviorPoints):
                category = "BadBehavior";
                break;
            case nameof(HomeworkPoints):
                category = "Homework";
                break;
        }

        var newPoint = await AccountApi.IncrementPoint(Account.ID, category);
        await RefreshAccount();
        await OnAccountChanged.InvokeAsync();
    }


    private async Task PayoutAllowance()
    {
        await AccountApi.PayoutAllowance(Account.ID);
        await RefreshAccount();
        await OnAccountChanged.InvokeAsync();
    }

    private void CopyAccountInnards(AccountViewModel real_account, AccountViewModel new_data)
    {
        real_account.Allowances = new_data.Allowances;
        real_account.Balance = new_data.Balance;
        real_account.Transactions = new_data.Transactions;
    }
    
    private void OpenModal()
    {
        WorkingGrades = new Dictionary<char, int>(Grades);
        MyModal?.Show();
    }

    private async Task HandleConfirm()
    {
        foreach(var pair in WorkingGrades)
        {
            string category = $"Grade{pair.Key}";
            Account.Allowances.PointList.FindIndex(a => a.Category == category);
        }
        await RefreshAccount();
        await OnAccountChanged.InvokeAsync();
    }
    
    private void HandleCancel()
    {
        return;
    }

    private async Task RefreshAccount()
    {
        var acct = await AccountApi.GetAccountAsync(Account.ID);
        if (acct is not null) {CopyAccountInnards(Account, acct);}
    }
}

